<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <add key="a1" value="C:\Users\merch\Documents\github\NModbus4\Samples\proj.json" />
        <add key="Nuget.com" value="https://api.nuget.org/v3/index.json" />
    </packageSources>
  <disabledPackageSources>
    <add key="nuget.org" value="true" />
  </disabledPackageSources>
</configuration>